Source: quartus23
Section: electronics
Priority: optional
Maintainer: Friedrich Beckmann <friedrich.beckmann@tha.de>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 wget,
 unzip
Standards-Version: 4.6.2
Homepage: https://www.hs-augsburg.de/homes/beckmanf/dokuwiki/doku.php?id=ubuntu_virtual_cae_system
#Vcs-Browser: https://salsa.debian.org/debian/quartus
#Vcs-Git: https://salsa.debian.org/debian/quartus.git

Package: quartus23
Architecture: any
Depends:
 quartususb
Description: Intel Quartus 23 for Cyclone V
 Intel Quartus FPGA synthesis software
